APP_NAME=The Rahbar Backend
APP_ENV=development
APP_DEBUG=true
SMS_PROVIDER=none
API_V1_PREFIX=/api/v1
DATABASE_URL=<NEON_POOLED_URL>
DATABASE_DIRECT_URL=<NEON_DIRECT_URL>
REDIS_URL=<UPSTASH_REDIS_URL>
JWT_SECRET_KEY=CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

OTP_EXPIRE_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5
OTP_HMAC_SECRET=CHANGE_ME
